<ul class="nav nav-tabs nav-tabs-flex" role="tablist" id='requestTabs'>
    {{#each requests as |request index|}}
    <li role="presentation" id="requestTab{{index}}" class="{{if (eq selectedTabIndex index) "active"}}" title="{{request.operation.summary}}">

        <a href="#request{{index}}" aria-controls="request" role="tab" data-toggle="tab">{{request.operation.summary}}
            <button type="button" class="close" aria-label="Close" {{action 'closeTab' index}}><span aria-hidden="true">&times;</span></button>
        </a>

    </li>
    {{/each}}
</ul>
{{#api-info}}{{/api-info}}

<div class="tab-content" id='requestTabsContent'>
    {{#each requests as |request index|}}
    <div role="tabpanel" class="tab-pane {{if (eq selectedTabIndex index) "active"}}" id="request{{index}}">{{api-request operation=request.operation}}</div>
    {{/each}}
</div>

{{#if (eq requests.length 0)}}
<div class='empty-state'>
    <i class="fa fa-bolt" aria-hidden="true"></i> 
    <label>No request selected</label>
    <p>Select a request from the list on the left</p>
</div>

{{/if}}
