<span class="info-button pc-moon pc-help" aria-hidden="true" {{action 'toggle'}} data-toggle="tooltip" title="Help"></span>
{{#if showApiDetails}}
<div class='api-info'>

    <button type="button" class="close" aria-label="Close" {{action "toggle"}}><span aria-hidden="true">&times;</span></button>
    <div class='api-info-content'>
        <h2>{{info.title}}</h2>
        <p>{{info.description}}</p>

        {{#if externalDocs}}
        <h3>Documentation</h3>
        <a href={{externalDocs.url}}>{{externalDocs.description}}</a>
        {{/if}}

    </div>

</div>

{{/if}}
