<ul class="nav nav-tabs" role="tablist" id='requestTabs' style="width:100%">
    {{#each requests as |request index|}}
   <li role="presentation" class="{{request.tabClass}}">

       <a href="#request{{index}}" aria-controls="request" role="tab" data-toggle="tab">{{request.operation.summary}}

       <button type="button" class="close" aria-label="Close" {{action 'closeTab' index}}><span aria-hidden="true">&times;</span></button>

   </a>

</li>
   {{/each}}
 </ul>

<div class="tab-content">
    {{#each requests as |request index|}}
   <div role="tabpanel" class="tab-pane fade {{request.tabClass}}" id="request{{index}}">{{api-request operation=request.operation}}</div>
   {{/each}}
</div>
