<div class='row parameter-row {{if parameter.required "required"}}'>
    <div class="col-md-1">
        <label >{{parameter.name}}</label>
        {{#if parameter.required}}
        (required)
        {{/if}}
    </div>
    <div class="col-md-3">

        {{#if (eq inputType 'checkbox')}}
        {{input class="form-control" checked=parameter.value  required=parameter.required type=inputType }}
        {{else}}
        {{input class="form-control" value=parameter.value  required=parameter.required type=inputType }}

        {{/if}}
    </div>
    <div class="col-md-1">
        {{parameter.in}}
    </div>
    <div class="col-md-7">
        {{parameter.description}}
        {{#if parameter.items.enum}}
        <br />
        <b>Valid values:</b> {{#each parameter.items.enum as |prop|}}{{prop}}, {{/each}}
        {{/if}}
    </div>
</div>
